parameters:
    paths:
        - app
        - tests
    excludePaths:
        - config
        - bootstrap
        - database
        - public
        - routes
    level: 5
    ergebnis:
        final:
            enabled: false
        noExtends:
            enabled: false
        noParameterWithNullableTypeDeclaration:
            enabled: false
        noParameterWithNullDefaultValue:
            enabled: false
        noNullableReturnTypeDeclaration:
            enabled: false
        noSwitch:
            enabled: false
        finalInAbstractClass:
            enabled: false